@font-face {
  font-family: 'dejavu_sanslight';
  src: url('../fnt/DejaVuSans-ExtraLight-webfont.eot');
  src: url('../fnt/DejaVuSans-ExtraLight-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fnt/DejaVuSans-ExtraLight-webfont.woff') format('woff'),
    url('../fnt/DejaVuSans-ExtraLight-webfont.ttf') format('truetype'),
    url('../fnt/DejaVuSans-ExtraLight-webfont.svg#dejavu_sanslight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'dejavu_sansmono';
  src: url('../fnt/DejaVuSansMono-webfont.eot');
  src: url('../fnt/DejaVuSansMono-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fnt/DejaVuSansMono-webfont.woff') format('woff'),
    url('../fnt/DejaVuSansMono-webfont.ttf') format('truetype'),
    url('../fnt/DejaVuSansMono-webfont.svg#dejavu_dejavu_sansmono') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'dejavu_sans';
  src: url('../fnt/DejaVuSans-webfont.eot');
  src: url('../fnt/DejaVuSans-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fnt/DejaVuSans-webfont.woff') format('woff'),
    url('../fnt/DejaVuSans-webfont.ttf') format('truetype'),
    url('../fnt/DejaVuSans-webfont.svg#dejavu_sans') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'dejavu_serif';
  src: url('../fnt/DejaVuSerif-webfont.eot');
  src: url('../fnt/DejaVuSerif-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fnt/DejaVuSerif-webfont.woff') format('woff'),
    url('../fnt/DejaVuSerif-webfont.ttf') format('truetype'),
    url('../fnt/DejaVuSerif-webfont.svg#dejavu_serif') format('svg');
  font-weight: normal;
  font-style: normal;
}
