@import '_base';

// theme swatches
#theme {
  display: none; // comment out this line to view theme swatches
  width: 300px;
  height: 150px;
  border-spacing: 0;
  border: 5px solid white;
  box-shadow: 0 0 2px rgba(black, 0.3);
  text-align: center;
  background-color: white;
  
  td {
    width: 100px;
    height: 50px;
    padding: 0;
    margin: 0;
  }
  
  tr:nth-child(1) td:nth-child(1) { background-color: $colorprid }
  tr:nth-child(1) td:nth-child(2) { background-color: $colorsecd }
  tr:nth-child(1) td:nth-child(3) { background-color: $colorterd }
  tr:nth-child(2) td:nth-child(1) { background-color: $colorpri }
  tr:nth-child(2) td:nth-child(2) { background-color: $colorsec }
  tr:nth-child(2) td:nth-child(3) { background-color: $colorter }
  tr:nth-child(3) td:nth-child(1) { background-color: $colorpril }
  tr:nth-child(3) td:nth-child(2) { background-color: $colorsecl }
  tr:nth-child(3) td:nth-child(3) { background-color: $colorterl }
  tr:nth-child(1) td:last-child { font-family: $sans }
  tr:nth-child(2) td:last-child { font-family: $serif }
  tr:nth-child(3) td:last-child { font-family: $mono }
}

// global styles
body {
  background-color: $colorterl;
  color: $colorsec;
  font-family: $sans;
  font-size: 0.8em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $light;
  font-style: normal;
}

a {
  text-decoration: none;
  color: $colorprid;
  
  &:hover {
    text-decoration: none;
    color: $colorpril;
  }
}

#result {
  outline: solid 5px $colorterl;
}
