@import "bootstrap";

body {
  padding-top: 20px;
  background-color: #EFEFEF;
}

.disabled {
  opacity: 0.5;
}

.editors {
  margin-top: 1em;
  font-style: italic;
  font-size: 0.9em;
}

.testImg {
  margin-bottom: 1em;
  border: 2px white solid;
  border-radius: 4px;
}

.list-group-item [type=file] {
  display: inline-block !important;
}
