@import "bootstrap";

body {
  padding-top: 20px;
  background-color: #EFEFEF;
}

.editors {
  margin-top: 1em;
  font-style: italic;
  font-size: 0.9em;
}

.disabled {
  opacity: 0.5;
  
  input,
  button {
    cursor: not-allowed !important;
  }
}

.testImg {
  margin-bottom: 1em;
  border: 2px white solid;
  border-radius: 4px;
}

.list-group {
  list-style: decimal inside;
  
  .list-group-item {
    display: list-item;
  }
}

#steps {

  .list-group-item [type=file] {
    display: inline-block !important;
  }

}

#task1 {
  @extend .active;
}
