@import "bootstrap";

body, html {
  padding-top: 8px;
  background-color: #EFEFEF;
  margin-bottom: 2em;
}

.navbar {
  margin-bottom: 15px;
}

.editors {
  margin-top: 1em;
  font-style: italic;
  font-size: 0.9em;
}

.disabled {
  opacity: 0.5;
  
  input,
  button {
    cursor: not-allowed !important;
  }
}

.test-img {
  margin-bottom: 1em;
  border: 2px white solid;
  border-radius: 4px;
}

.list-group {
  list-style: decimal inside;
  
  .list-group-item {
    display: list-item;
  }
}

#steps {

  .list-group-item [type=file] {
    display: inline-block !important;
  }

}

#task-1 {
  @extend .active;
}

#questionnaire {
  
  select, textarea, p {
    width: 100%;
    display: block;
    margin: 0.9em 0 0.4em 0;
    
    @media (min-width:600px) {
      width: 50%;
    }
  }
  
  [type=radio] {
    margin-right: 1em;
  }
  
}
