{{test-img}}



<ol class="list-group">
  <li class="list-group-item">
    1. Recreate the above image.
  </li>
  <li class="list-group-item disabled">
    2. {{svg-upload}}
  </li>
  <li class="list-group-item disabled">
    3. Result:
  </li>
  <li class="list-group-item disabled">
    4. 
    <button class="btn btn-primary btn-lg btn-block disabled" {{action 'postResult'}}>
      Next task
      <span class="glyphicon glyphicon-chevron-right"></span>
    </button>
  </li>
</ol>

<div id="submission">
  result
</div>


