<form method="post" action="http://localhost:8080/result">
  <input type="text" value="8" name="name" />
  <button type="submit">enter name</button>
</form>

<button class="btn btn-primary btn-lg btn-block" {{action 'postResult'}}>enter data</button>

<div id="submission"></div>

{{file-upload}}

<img src="assets/images/drawing.png" width="100" />
