{{test-img}}

<br />

<ol class="list-group">
  
  <li class="list-group-item">
    1. Recreate the above image.
  </li>
  
  <li class="list-group-item clearfix">
    2. Upload the result:
    <p></p>
    {{svg-upload action="assessFile"}}
  </li>
  
  <li class="list-group-item disabled">
    3. Result:
  </li>
  
  <li class="list-group-item disabled">
    <button class="btn btn-primary btn-lg btn-block" disabled={{isDisabled}} {{action 'postResult'}}>
      Next task
      <span class="glyphicon glyphicon-chevron-right"></span>
    </button>
  </li>
  
</ol>

<!--
<form ng-submit="submit()" ng-controller="svgUpload">
  <input type="file" id="upload" />
  <input type="submit" />
</form>
-->
<div id="submission">
  result
</div>


