<nav class="navbar navbar-inverse">
  
  <div class="container-fluid">
    
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    
    <div class="collapse navbar-collapse" id="main-navbar">
      <ul class="nav navbar-nav">
        <li><a>Instructions</a></li>
        <li class="active"><a>Task 1</a></li>
        <li><a>Task 2</a></li>
        <li><a>Task 3</a></li>
        <li><a>Task 4</a></li>
        <li><a>Task 5</a></li>
        <li><a>Task 6</a></li>
        <li><a>Questionnaire</a></li>
        <!--
        {{#each model as |invitation|}}
            <h1>{{invitation.id}}</h1>
        {{/each}}-->
      </ul>
    </div>
    
  </div>
  
</nav>
