<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    
    <div class="collapse navbar-collapse" id="main-navbar">
      <ul class="nav navbar-nav">
        {{#link-to 'index' tagName="li"}}<a href="">Instructions</a>{{/link-to}}
        {{#link-to 'task1' tagName="li"}}<a href="">Task 1</a>{{/link-to}}
        {{#link-to 'task2' tagName="li"}}<a href="">Task 2</a>{{/link-to}}
        {{#link-to 'task3' tagName="li"}}<a href="">Task 3</a>{{/link-to}}
        {{#link-to 'task4' tagName="li"}}<a href="">Task 4</a>{{/link-to}}
        {{#link-to 'task5' tagName="li"}}<a href="">Task 5</a>{{/link-to}}
        {{#link-to 'task6' tagName="li"}}<a href="">Task 6</a>{{/link-to}}
        {{#link-to 'questionnaire' tagName="li"}}<a href="">Questionnaire</a>{{/link-to}}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
