<h1>Questionnaire</h1>

<form id="questionnaire">
  
  <ol class="list-group" id="questionnaire">
    
    <li class="list-group-item">
      What vector graphics software did you use to complete the tasks?
      <select id="software">
        <option value="illustrator">Adobe Illustrator</option>
        <option value="coreldraw">CorelDRAW</option>
        <option value="inkscape">Inkscape</option>
      </select>
    </li>
    
    <li class="list-group-item">
      Did you have any difficulties interpreting the instructions? If so,
      please explain why:
      <textarea id="difficulties"></textarea>
    </li>
    
    <li class="list-group-item">
      Which web browser did you use?
      <select id="browser">
        <option value="chrome">Chrome</option>
        <option value="edge">Edge</option>
        <option value="firefox">Firefox</option>
        <option value="ie">Internet Explorer</option>
        <option value="opera">Opera</option>
        <option value="safari">Safari</option>
        <option value="not-listed">not listed</option>
      </select>
    </li>
    
    <li class="list-group-item">
      Did you experience any issues or bugs with the system? If so, please
      describe them:
      <textarea id="issues"></textarea>
    </li>
    
    <li class="list-group-item">
      On a scale of 1(easy) to 5(difficult), how difficult did you find the tasks?
      <p id="difficulty">
        1 <input type="radio" name="difficulty" value="1" checked />
        2 <input type="radio" name="difficulty" value="2" />
        3 <input type="radio" name="difficulty" value="3" />
        4 <input type="radio" name="difficulty" value="4" />
        5 <input type="radio" name="difficulty" value="5" />
      </p>
    </li>
    
    <li class="list-group-item">
      Did you trace the image after downloading the graphic, or simply estimate the proportions?
      <p id="traced">
        traced <input type="radio" name="traced" value="traced" checked />
        estimated <input type="radio" name="traced" value="estimated" />
      </p>
    </li>
    
    <li class="list-group-item">
      Approximately how many minutes did it take for you to complete all 6 tasks?
      <select id="time">
        <option value="lt10">less than 10 minutes</option>
        <option value="10-15">between 10 and 15 minutes</option>
        <option value="15-30">between 15 and 30 minutes</option>
        <option value="30-45">between 30 and 45 minutes</option>
        <option value="gt45">longer than 45 minutes</option>
      </select>
    </li>
    
  </ol>
  
  <input type="submit" value="Sumbit" class="btn btn-primary btn-lg btn-block" disabled={{isDisabled}} {{action 'submit'}}>
  
</form>
