<h1>Questionnaire</h1>

<form>
  
  <ol class="list-group" id="questionnaire">
    
    <li class="list-group-item">
      What vector graphics software did you use to complete the tasks?
      <select>
        <option>Adobe Illustrator</option>
        <option>CorelDRAW</option>
        <option>Inkscape</option>
      </select>
    </li>
    
    <li class="list-group-item">
      Did you have any difficulties interpreting the instructions? If so,
      please explain why:
      <textarea></textarea>
    </li>
    
    <li class="list-group-item">
      Which web browser did you use?
      <select>
        <option>Chrome</option>
        <option>Edge</option>
        <option>Firefox</option>
        <option>Internet Explorer</option>
        <option>Opera</option>
        <option>Safari</option>
        <option>not listed</option>
      </select>
    </li>
    
    <li class="list-group-item">
      Did you experience any issues or bugs with the system? If so, please
      describe them:
      <textarea></textarea>
    </li>
    
    <li class="list-group-item">
      On a scale of 1 to 5, how difficult did you find the tasks?
      <p>
        1 <input type="radio" name="difficulty" />
        2 <input type="radio" name="difficulty" />
        3 <input type="radio" name="difficulty" />
        4 <input type="radio" name="difficulty" />
        5 <input type="radio" name="difficulty" />
      </p>
    </li>
    
    <li class="list-group-item">
      Did you trace the image after downloading the graphic, or simply estimate the proportions?
      <p>
        traced <input type="radio" name="difficulty" />
        estimated <input type="radio" name="difficulty" />
      </p>
    </li>
    
    <li class="list-group-item">
      Approximately how many minutes did it take for you to complete all 6 tasks?
      <select>
        <option>less than 10 minutes</option>
        <option>between 10 and 15 minutes</option>
        <option>between 15 and 30 minutes</option>
        <option>between 30 and 45 minutes</option>
        <option>longer than 45 minutes</option>
      </select>
    </li>
    
  </ol>
  
  <input type="submit" value="Sumbit" class="btn btn-primary btn-lg btn-block" {{action 'submit'}}>
  
</form>
